h2 {
  display: inline-block;
  margin: 0;
  color: #5e090c;
  font-size: 1.5em;
  font-weight: 300;
  vertical-align: middle;
}

.lista { padding: 20px; max-width: 80%; margin: 0 auto;}

.item { 
  border: 1px solid #d4adad; 
  padding: 30px; 
  margin: 10px 0; 
  border-radius: 8px;
  cursor: pointer;
  list-style: none;
  font-size: 20px;
}

.item:hover { background: #f5f5f5; }

.btn-novo { 
  text-decoration: underline;
  background: #5e090c; 
  color: #ccc; 
  padding: 15px 15px;  
  border-radius: 5px;
  margin-bottom: 20px;
  position: absolute;
  top: 60px;
  right: 50px;
  font-size: 15px;
}

.header-lista {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-right: 80px;
}

.filtros {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  align-items: center;
  color: #3d3737;
}

.pesquisa { 
  width: 200px; 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.ordenacao {
  width: 80px; 
  padding: 9px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.visto { color: rgb(38, 90, 38); font-weight: bold; }
.por-ver { color: rgb(129, 40, 40); font-weight: bold; }