<app-header></app-header>
<form [formGroup]="form">
    <input formControlName="titulo" type="text" placeholder="Título">
    @if (form.get('titulo')?.invalid && form.get('titulo')?.touched) {
        <p>O título é obrigatório e deve ter pelo menos 3 caracteres.</p>
    }
    <select formControlName="tipo" class="seletor">
            <option value="filme">Filme</option>
            <option value="serie">Série</option>
    </select>
    @if (form.get('tipo')?.invalid && form.get('tipo')?.touched) {
        <p>O tipo é obrigatório.</p>
    }
    <select formControlName="estado" class="seletor">
            <option value="visto">Visto</option>
            <option value="porVer">Por Ver</option>
    </select>
    <input formControlName="estado" type="text" placeholder="Estado">
    @if (form.get('estado')?.invalid && form.get('estado')?.touched) {
        <p>O estado é obrigatório.</p>
    }
    <input formControlName="avaliacao" type="text" placeholder="Avaliação 0/10">
    @if (form.get('avaliacao')?.invalid && form.get('avaliacao')?.touched) {
        <p>A avalição é obrigatória. De 0 </p>
    }
    <input formControlName="genero" type="text" placeholder="Género">
    @if (form.get('genero')?.invalid && form.get('genero')?.touched) {
        <p>O género é obrigatório.</p>
    }
    <input formControlName="criador" type="text" placeholder="Criador">
    @if (form.get('criador')?.invalid && form.get('criador')?.touched) {
        <p>O criador é obrigatório.</p>
    }
    <input formControlName="anoLancamento" type="text" placeholder="Ano de Lançamento">
    @if (form.get('anoLancamento')?.invalid && form.get('anoLancamento')?.touched) {
        <p>O ano de lançamento é obrigatório.</p>
    }
    <input formControlName="anoFim" type="text" placeholder="Ano de Fim">

    <button type="submit" (click)="onSubmit()" [disabled]="form.invalid">Salvar</button>
</form>
