.footer {
  background: rgb(1, 11, 68);
  color: #a89d6e;
  padding: 1rem;
  text-align: center;
}

.gitHub {
  color: #e9dca3;
  text-decoration: underline;
  margin-left: 1rem;
  
  &:hover {
    color: #ff6b35;
  }
}

.footer-content p {
  margin: 4px 0;
  font-size: 0.85em;
}