.footer {
  background: #2c3e50c9;
  color: white;
  padding: 1rem;
  text-align: center;
  max-height: 10vh;
}

.gitHub {
  color: rgb(77, 0, 0);
  text-decoration: underline;
  margin-left: 1rem;
  
  &:hover {
    color: #ff6b35;
  }
}