.formulario-container {
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.formulario-container h2 {
  color: #5e090c;
  margin-bottom: 5px;
}

form{
  padding: 25px;
  max-width: 600px;
  margin: 0;
  background: rgb(219, 199, 98);
  border: 1px solid #310707;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.seletor{
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

form p{
  margin: -6px 0 6px 0;
  font-size: 13px;
  color: #8a0f0f;
}

.salvar {
  margin-top: 10px;
  background: #5e090c;
  color: #ece6e6;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover{
  background:#7c0f13;
}

form button:disabled{
  background: #999;
  cursor: not-allowed;
}

h2 {
  margin: 0;
  color: #5e090c;
  font-size: 1.5em;
  font-weight: 300;
}