<section class="login">
  <h2>Login</h2>

  <input
    [(ngModel)]="loginUsername"
    name="loginUsername"
    placeholder="Username"
    type="text"
  />

  <input
    [(ngModel)]="loginPassword"
    name="loginPassword"
    placeholder="Password"
    type="password"
  />

  <button (click)="login()">Entrar</button>

  @if (erro) {
    <p class="erro">{{ erro }}</p>
  }
</section>

<section class="login">
  <h2>Registar Novo Utilizador</h2>

  <input
    [(ngModel)]="registerUsername"
    name="registerUsername"
    placeholder="Username"
    type="text"
  />

  <input
    [(ngModel)]="registerPassword"
    name="registerPassword"
    placeholder="Password"
    type="password"
  />

  <button (click)="registar()">Registar</button>

  @if (erro) {
    <p class="erro">{{ erro }}</p>
  }
</section>
