.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.card {
    border: 1px solid #31052e;
    border-radius: 12px;
    padding: 24px;
    background-color: rgb(rgb(226, 225, 171));
    gap: 12px;
}

.card-filmes, 
.card-series, 
.card-filme-melhor-avaliacao, 
.card-serie-melhor-avaliacao {
  font-size: 1.7em;
  font-weight: 700;
  color: #3b3e42;
  margin-top: 12px;
  text-align: center;
}

.titulo-card {
    color: #64748b;
    font-size: 16px;
    margin-bottom: 10px;
}