.header-dashboard {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
}

h2 {
  display: inline-block;
  margin: 0;
  color: #5e090c;
  font-size: 2.2em;
  font-weight: 600;
  position: relative;
}

.destaque, 
.cards-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

.destaque {
  border: 1px solid #310707;       
  border-radius: 12px;
  padding: 45px;
  background-color: rgb(219, 199, 98); 
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.cards-container {
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.card {
  flex: 1 1 250px;
  max-width: 280px; 
  border: 1px solid #310707;
  border-radius: 12px;
  padding: 24px;
  background-color: rgb(219, 199, 98);
  min-height: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: all 0.2s ease;
}

.destaque-titulo {
  color: #96071a;
  font-size: 25px; 
  font-weight: 500;
  margin-bottom: 10px;
}

.destaque-conteudo {
  font-size:30px;
  color:#332f07;
  align-items: left;
}

.titulo-card {
  color: #96071a;
  font-size: 25px; 
  font-weight: 500;
  margin-bottom: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-filmes, 
.card-series, 
.card-filme-melhor-avaliacao, 
.card-serie-melhor-avaliacao {
  font-size: 1.6em;
  font-weight: 700;
  color: #3a0709;
  margin: 0;
}

@media (max-width: 767px) {
  .header-dashboard {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .destaque, .cards-container {
    width: 95%;
  }

  .destaque {
    padding: 25px;
  }

  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}