h2 {
  display: inline-block;
  margin: 0;
  color: #5e090c;
  font-size: 1.5em;
  font-weight: 300;
  vertical-align: middle;
}

.lista { 
  padding: 20px; 
  max-width: 900px;
  margin: 0 auto
}

ul{
  padding:0;
}

.item { 
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #310707; 
  padding: 1.5rem; 
  margin: 14px 0; 
  border-radius: 10px;
  list-style: none;
  background: rgb(219, 199, 98);
  transition: all 0.2s ease;
  min-width: 0;
}

.item:hover { 
  background: #fafafa;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transform: translateY(-2px);
}

.item span{
  font-size: 17px;
  color: #332f07;
  flex: 1;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.header-lista {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-right: 80px;
}

.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  color: #3d3737;
}

.pesquisa { 
  width: 220px; 
  padding: 10px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.ordenacao {
  width: 100px; 
  padding: 9px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

strong.visto, strong.porVer { 
  color: rgba(9, 44, 9, 0.747); 
  font-weight: bold; 
  font-size: 20px;
  flex-shrink: 0;
  width: 180px;
  min-width: 180px;
}

strong.porVer { 
  color: rgba(83, 10, 16, 0.795);
}

.botao-remover {
  border: none;
  background-color: #610a0a;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  flex-shrink: 0;
  margin-left: auto;
}

.botao-remover:hover{
  background:#8a0f0f;
  transform: scale(1.1);
}

.info{
  flex: 1;
  display: flex;
  gap: 1.5rem;
  font-size: 15px;
  color: #332f07;
  align-items: center;
  flex-wrap: wrap;
  min-width: 0;
}

.info span {
  white-space: nowrap;
}