.logo {
  margin-right: 15px;
  border-radius: 50%;
}

h1 {
  display: inline-block;
  margin: 0;
  color: #ddbdbe;
  font-size: 2em;
  font-weight: 300;
  vertical-align: middle;
}

:host {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(71, 16, 30);
  color: white;
}
